:root {
  --primary-color: #007a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 16px;
  font-size: 1.6rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.section {
  padding: 20px 0;
}

.btn {
  border: 0;
  background: none;
  cursor: pointer;
}

.subtitle {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.navbar {
  background-color: var(--primary-color);
  padding: 20px 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}

.navbar__menu {
  display: none;
}

.hero {
  padding: 40px 0;
}

.hero__title {
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero__subtitle {
  color: #8da29a;
  font-size: 1.8rem;
}

.hero__list {
  margin: 30px 0;
}

.hero__list-item {
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.hero__list-item::before {
  content: "â­";
  font-size: 20px;
  margin-right: 10px;
  margin-top: -5px;
}

.hero__btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 22px 30px;
}

.hero__img {
  width: 100%;
  max-width: 450px;
}

.benefits__list {
  list-style: disc;
  margin-left: 20px;
}

.guarantee {
  background-color: var(--primary-color);
  color: #fff;
  padding: 30px 0;
  margin: 40px 0;
}

.guarantee img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 40px;
}

.guarantee h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.ingredients__img {
  text-align: center;
}

.ingredients__img img {
  width: 100%;
  max-width: 1000px;
}

.order {
  text-align: center;
}

.order__bottles {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.order__bottles img {
  width: 100%;
  max-width: 800px;
  transition: ease 0.3s all;
}

.order__bottles img:hover {
  transform: scale(1.1);
}

.order__title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.order__title,
.order__subtitle {
  color: var(--primary-color);
}

.checkout__title {
  color: #fff;
  background-color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.checkout__text {
  text-align: center;
}

.checkout__img {
  text-align: center;
  margin: 60px 0;
}

.checkout__img img {
  width: 100%;
  max-width: 900px;
}

.links {
  background-color: var(--primary-color);
  padding: 20px 0;
}

.links a {
  color: #fff;
  font-weight: 600;
}

.footer {
  margin-top: 40px;
}

.footer p {
  font-size: 1.2rem;
}

.footer__copyright {
  color: #9f9f9f;
  font-size: 1.6rem;
  font-weight: 600;
}

/* Tablets */
@media screen and (min-width: 481px) {
  p {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 2.4rem;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__subtitle {
    font-size: 2.8rem;
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) {
  p {
    font-size: 2.2rem;
  }
  .subtitle {
    font-size: 3rem;
  }
  .navbar {
    padding: 30px 0;
  }
  .navbar__logo {
    font-size: 3.4rem;
  }
  .navbar__menu {
    display: flex;
  }
  .navbar__menu-item {
    margin-right: 20px;
  }
  .navbar__menu-item a {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .hero__title {
    font-size: 3.6rem;
  }
  .hero__list {
    margin-left: 20px;
  }
  .hero-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .benefits__list {
    margin-left: 40px;
  }
  .guarantee {
    text-align: center;
  }
  .guarantee h2 {
    font-size: 3rem;
  }
  .order__bottles {
    flex-direction: row;
  }
  .order__text {
    width: 100%;
    max-width: 760px;
    margin: auto;
  }
  .checkout__title {
    font-size: 2.6rem;
  }
  .links__list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .footer__copyright {
    text-align: center;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) {
  .subtitle {
    font-size: 4rem;
  }
  .navbar__logo {
    font-size: 4rem;
  }
  .hero__title {
    font-size: 4.2rem;
  }
}
